<h1>Edit User</h1>
<div>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
</div>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "johndoe" %><br>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "johndoe@company.com" %><br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "******" %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "******" %><br>
  <%= f.submit("Register") %>
 <% end %>