<h1>Register</h1>

<%= form_tag "/users", method: "post" do %>
  <%= label_tag :username, "Username" %>
  <%= text_field_tag :username %><br>
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email %><br>
  <%= label_tag :password, "Password" %>
  <%= password_field_tag :password %><br>
  <%= label_tag :password_confirmation, "Password Confirmation" %>
  <%= password_field_tag :password_confirmation %><br>
  <%= submit_tag "Register" %>

<% end %>

